POSTGRES_DB=projemento
POSTGRES_USER=projemento
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=55432
APP_PORT=8080

# Use unique 256-bit oct JWK values for production.
JWT_ACCESS_TOKEN_KEY={"kty":"oct","k":"asfgMthWBltjLyJn791pD38LKqirGhI8dWYEh_hzrWI"}
JWT_REFRESH_TOKEN_KEY={"kty":"oct","k":"HWS6epvQPr1Y71__89JrI66ONrXJLQOnJT4vaR0OQjM"}
